In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

from scipy import stats
from statsmodels.sandbox.stats.multicomp import multipletests
from itertools import combinations

%matplotlib inline

Классификатор C4.5 и три его модификации: с оптимизацией гиперпараметра m, гиперпараметра cf и с одновременной оптимизацией обоих гиперпараметров. Эти четыре классификатора сравнивались на 14 наборах данных. На каждом датасете был посчитан AUC каждого классификатора. Данные записаны в файле:

AUCs.txt

Используя критерий знаковых рангов, проведите попарное сравнение каждого классификатора с каждым. Выберите два классификатора, различие между которыми наиболее статистически значимо.

In [10]:
df = pd.read_csv("AUCs.txt", delimiter='\t',header=None)
df

                          0      1       2        3          4
0                       NaN   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
1            adult (sample)  0.763   0.768    0.771      0.798
2             breast cancer  0.599   0.591    0.590      0.569
3   breast cancer wisconsin  0.954   0.971    0.968      0.967
4                       cmc  0.628   0.661    0.654      0.657
5                ionosphere  0.882   0.888    0.886      0.898
6                      iris  0.936   0.931    0.916      0.931
7           liver disorders  0.661   0.668    0.609      0.685
8               lung cancer  0.583   0.583    0.563      0.625
9              lymphography  0.775   0.838    0.866      0.875
10                 mushroom  1.000   1.000    1.000      1.000
11            primary tumor  0.940   0.962    0.965      0.962
12                    rheum  0.619   0.666    0.614      0.669
13                   voting  0.972   0.981    0.975      0.975
14                     wine  0.957   0.978    0.946      0.970

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  14 non-null     object
 1   C4.5        14 non-null     float64
 2   C4.5+m      14 non-null     float64
 3   C4.5+cf     14 non-null     float64
 4   C4.5+m+cf   14 non-null     float64
dtypes: float64(4), object(1)
memory usage: 688.0+ bytes

In [8]:
df.describe()

            C4.5     C4.5+m    C4.5+cf  C4.5+m+cf
count  14.000000  14.000000  14.000000  14.000000
mean    0.804929   0.820429   0.808786   0.827214
std     0.160187   0.158583   0.167566   0.154548
min     0.583000   0.583000   0.563000   0.569000
25%     0.636250   0.666500   0.624000   0.673000
50%     0.828500   0.863000   0.876000   0.886500
75%     0.950500   0.968750   0.960250   0.965750
max     1.000000   1.000000   1.000000   1.000000

In [12]:
df.columns = [u'Dataset', u'C4.5', u'C4.5+m', u'C4.5+cf', u'C4.5+m+cf']
df

                    Dataset   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0                       NaN   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
1            adult (sample)  0.763   0.768    0.771      0.798
2             breast cancer  0.599   0.591    0.590      0.569
3   breast cancer wisconsin  0.954   0.971    0.968      0.967
4                       cmc  0.628   0.661    0.654      0.657
5                ionosphere  0.882   0.888    0.886      0.898
6                      iris  0.936   0.931    0.916      0.931
7           liver disorders  0.661   0.668    0.609      0.685
8               lung cancer  0.583   0.583    0.563      0.625
9              lymphography  0.775   0.838    0.866      0.875
10                 mushroom  1.000   1.000    1.000      1.000
11            primary tumor  0.940   0.962    0.965      0.962
12                    rheum  0.619   0.666    0.614      0.669
13                   voting  0.972   0.981    0.975      0.975
14                     wine  0.957   0.978    0.946      0.970

In [81]:
w_stat = pd.DataFrame(columns=['Model 1', 'Model 2', 'Wilcoxon stat', 'p-value'])
w_stat

Empty DataFrame
Columns: [Model 1, Model 2, Wilcoxon stat, p-value]
Index: []

In [82]:
combinations?

In [83]:
df.iloc[1:, 1]

1     0.763
2     0.599
3     0.954
4     0.628
5     0.882
6     0.936
7     0.661
8     0.583
9     0.775
10    1.000
11    0.940
12    0.619
13    0.972
14    0.957
Name: C4.5, dtype: object

In [84]:
pd.to_numeric(df.iloc[1:, 1])

1     0.763
2     0.599
3     0.954
4     0.628
5     0.882
6     0.936
7     0.661
8     0.583
9     0.775
10    1.000
11    0.940
12    0.619
13    0.972
14    0.957
Name: C4.5, dtype: float64

In [85]:
k = 0
for i, j in combinations([1, 2, 3, 4], 2):
    w_stat.loc[k, 'Model 1'], w_stat.loc[k, 'Model 2'] = df.columns[i], df.columns[j]
    w_stat.loc[k, 'Wilcoxon stat'], w_stat.loc[k, 'p-value'] = stats.wilcoxon(pd.to_numeric(df.iloc[1:, i]), 
                                                                              pd.to_numeric(df.iloc[1:, j]))
    k += 1

/home/tater/ML_coursera/ML/lib/python3.8/site-packages/scipy/stats/morestats.py:2967: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

In [86]:
w_stat

   Model 1    Model 2 Wilcoxon stat   p-value
0     C4.5     C4.5+m           6.5  0.010757
1     C4.5    C4.5+cf          43.0  0.861262
2     C4.5  C4.5+m+cf          11.0  0.015874
3   C4.5+m    C4.5+cf          18.0  0.054329
4   C4.5+m  C4.5+m+cf          22.0  0.327826
5  C4.5+cf  C4.5+m+cf          10.5  0.025314

In [96]:
top_diff_idx = pd.to_numeric(w_stat.loc[:, 'p-value']).idxmin()
print('Two classifiers with the highest significance difference: %s & %s' % (w_stat.loc[top_diff_idx, 'Model 1'],
      w_stat.loc[top_diff_idx, 'Model 2']))

Two classifiers with the highest significance difference: C4.5 & C4.5+m

Сколько статистически значимых на уровне 0.05 различий мы обнаружили?

In [97]:
diff_models_cnt = w_stat.loc[w_stat.loc[:, 'p-value'] <= 0.05, :].shape[0]
print('Number of p-value <= 0.05: %d' % diff_models_cnt)

Number of p-value <= 0.05: 3

Сравнивая 4 классификатора между собой, мы проверили 6 гипотез. Давайте сделаем поправку на множественную проверку. Начнём с метода Холма. Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки этим методом?

In [98]:
reject, p_corrected, a1, a2 = multipletests(w_stat['p-value'], alpha = 0.05, method = 'holm')

In [102]:
w_stat['p_corrected'] = p_corrected
w_stat['reject'] = reject

In [106]:
w_stat.head(10)

   Model 1    Model 2 Wilcoxon stat   p-value p_corrected  reject
0     C4.5     C4.5+m           6.5  0.010757    0.064543   False
1     C4.5    C4.5+cf          43.0  0.861262    0.861262   False
2     C4.5  C4.5+m+cf          11.0  0.015874    0.079372   False
3   C4.5+m    C4.5+cf          18.0  0.054329    0.162986   False
4   C4.5+m  C4.5+m+cf          22.0  0.327826    0.655651   False
5  C4.5+cf  C4.5+m+cf          10.5  0.025314    0.101254   False

Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки методом Бенджамини-Хохберга?

In [107]:
reject, p_corrected, a1, a2 = multipletests(w_stat['p-value'], alpha = 0.05, method = 'fdr_bh')

In [108]:
w_stat['p_corrected'] = p_corrected
w_stat['reject'] = reject

In [109]:
w_stat

   Model 1    Model 2 Wilcoxon stat   p-value p_corrected  reject
0     C4.5     C4.5+m           6.5  0.010757    0.047623    True
1     C4.5    C4.5+cf          43.0  0.861262    0.861262   False
2     C4.5  C4.5+m+cf          11.0  0.015874    0.047623    True
3   C4.5+m    C4.5+cf          18.0  0.054329    0.081493   False
4   C4.5+m  C4.5+m+cf          22.0  0.327826    0.393391   False
5  C4.5+cf  C4.5+m+cf          10.5  0.025314    0.050627   False